[Unit]
Description=Online ext4 Metadata Check for VM Filesystems
Documentation=man:e2scrub(8)
After=multi-user.target

[Service]
Type=oneshot
WorkingDirectory=/
PrivateNetwork=true
ProtectSystem=true
ProtectHome=read-only
PrivateTmp=yes
AmbientCapabilities=CAP_SYS_ADMIN CAP_SYS_RAWIO
NoNewPrivileges=yes
User=root
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Environment=SERVICE_MODE=1
ExecStart=/usr/local/bin/e2scrub_vm_lv.sh
SyslogIdentifier=e2scrub_vm
